<header>
    <nav >
    <ul type ="none" style="display:flex; height: 40px;margin-top: 20px; justify-self: center;">
        <li style="margin-right: 30px; margin-left: 30px;"><a href="#" style="text-decoration: none;color: black;">Home</a></li>
        <li style="margin-right: 30px"><a href="#" style="text-decoration: none;color: black;">News</a></li>
        <li style="margin-right: 30px"><a href="#"style="text-decoration: none;color: black;">Event</a></li>
        <li style="margin-right: 30px"><a href="#"style="text-decoration: none;color: black;">Department</a></li>
        <li style="margin-right: 30px"><a href="#"style="text-decoration: none;color: black;">Documents</a></li>
        <li style="color: #18bae1;margin-right: 30px"><a href="#"style="text-decoration: none;">Employees</a></li>
        <li> <input type="text" placeholder="Search" style="margin-left: 500px;border: none;"></li>
        <div class="vertical-line"></div>     
    <li style="margin-left: 50px;" ><span class="material-symbols-outlined">
            widgets
            </span></li>

            <li style="margin-right: 10px ;margin-left: 10px; "><span class="material-symbols-outlined">
                notifications
                </span></li>
<li><img src="/image.webp" alt="" style="height: 100px;width: 100px;border-radius: 50%;"></li>

            </ul>
            </nav>
<hr ><br>
<button style="color: #18bae1; border: #18bae1 solid; background-color: white; margin-left: 880px; width: 200px; ">Add Employee +</button>
<br>

<div class="container">
    <label for="" style="width:300px; margin-left: 70px;" ><h6 style="color: #9e8484;">Keyword</h6></label>
    <label for="" style="width:300px;"> <h6 style="color: #9e8484;">Department</h6></label>
    <label for=""><h6 style="color: #9e8484;">Available</h6></label><br>
   

<input type="text" placeholder="type in a keyword or name" style="width:300px;  height: 40px; border-right: none;margin-left: 70px">

<select id="Department" style="width:300px;  height: 40px; border-right: none;">
    <option value="Engineer">Engineer</option>
    <option value="Doctor">Doctor</option>
    <option value="Civil">Civil</option>
    <option value="Graphics">Graphics</option>
  </select>
<select id="Avilable" style="width:300px; height: 40px;border-right: none">
    <option value="Engineer">Engineer</option>
    <option value="Doctor">Doctor</option>
    <option value="Civil">Civil</option>
    <option value="Graphics">Graphics</option>
  </select>
<button style="width: 100px; height: 40px; background-color: #18bae1; color: white;border-color: #18bae1;box-shadow: none;" >Filter</button>
</div>
<br>
<div class="advance Filter" style="margin-left: 420px;margin-top: 50px;">
<label for=""><span class="material-symbols-outlined" >
    menu
    </span> Advance Filter</label>
</div>


<div class="container" style="margin-left: 70px;">
    <input type="text"  placeholder="Filter by name....."style="width: 600px;margin-top: 20px;border:none;height: 40px; ">
    <label for="" style="margin-right: 15px;">Sort by:</label>
    <select id="Department" style="width: 250px;  height: 40px;">
        <option value="Engineer">Engineer</option>
        <option value="Doctor">Doctor</option>
        <option value="Civil">Civil</option>
        <option value="Graphics">Graphics</option>
      </select>
    <LABel style="margin-left: 15px;"> <span class="material-symbols-outlined" >
        menu
        </span></LABel>

    <LABel style="margin-left: 5px;"><span class="material-symbols-outlined">
        widgets
        </span></LABel>
</div>
</header><br>

<div class="container">
    <label for="" style="width:300px; margin-left: 70px;" ><h6 style="color: #9e8484; ">Name</h6></label>
    <label for="" style="width:300px;"> <h6 style="color: #9e8484;">Department</h6></label>
    <label for="" style="width:250px;"> <h6 style="color: #9e8484;">phone Number</h6></label>
    <label for=""><h6 style="color: #9e8484;">Available</h6></label>
    </div>